<div id='content'>
  <div class="jumbotron">
    <h2>トイレの空き状況監視ツール</h3>
    <p>10Fの大の方のトイレの空き状況をリアルタイムで見れるツールになります</p>
  </div>

  <div class='panel panel-default'>
    <div class='panel-heading'>
      <i class='icon-bell icon-large'></i>
      INFO
    </div>
    <div class='panel-body'>
      <div class='page-header'>
        <h4>WC usage</h4>
      </div>
    </div>
  </div>
</div>
