<div id='content'>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <i class='icon-bell icon-large'></i>
      INFO
    </div>
    <div class='panel-body'>
      <div class='page-header'>
        <h4>投票してください</h4>
      </div>
      <div class='row text-center'>
        <div class='col-md-3'>
        </div>
      </div>
    </div>
  </div>
</div>
